In [18]:
import pandas as pd

In [19]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")

In [20]:
say_hello()

Hello!

In [21]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(something):
    print(something)

    # Call the function.
say_something("Hello World")

Hello World

In [22]:
Jane_says = "Hi, my name is Jane. I'm learning Python!"
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

In [23]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades: 
    print("{:.2f}".format(grade))

92.34
84.56
86.78
98.32

In [45]:
# convert the numerical grades to a series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object

In [42]:
for i in my_grades:
    print("{:.0f}".format(i))

92
85
87
78