In [1]:
# List of high schools
high_schools = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [2]:
# Add the Pandas dependency.
import pandas as pd

In [3]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [5]:
for school in school_series:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [6]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [7]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [13]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

Swag = [69, 420, 69420, 6969, 42069]

In [14]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [15]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["School_name"] = school_name
schools_df["type"] = type_of_school
schools_df["Swag"] = Swag
# Print the DataFrame
schools_df

   School ID            School_name      type   Swag
0          0      Huang High School  District     69
1          1   Figueroa High School  District    420
2          2    Shelton High School   Charter  69420
3          3  Hernandez High School  District   6969
4          4    Griffin High School   Charter  42069

In [19]:
# Create a dictionary of information on high schools.
high_schools_dicts = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [20]:
highschool_df = pd.DataFrame(high_schools_dicts)
highschool_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [23]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [25]:
high_school_series_two = pd.Series(school_name)
high_school_series_two

0        Huang High School
1     Figueroa High School
2      Shelton High School
3    Hernandez High School
4      Griffin High School
dtype: object